page-home {
    ion-content {
        .header-image {
            background-image: url(http://www.planwallpaper.com/static/images/nature-background-images2.jpg);
            height: 40vh;
        }
    
        .main-content {
            padding: 20px;
            background-color: white;
        }
    }
}
    

/*page-home {
    ion-content {
        background-image: url('http://www.planwallpaper.com/static/images/nature-background-images2.jpg');
        background-repeat: no-repeat;
        background-size:cover;
       
       p {
            color: white;
            font-family: 'Roboto Slab', serif;
        }
    }
}*/ 
     
 

